/* UIB components */
TUIBDataBase BITMAP "TUIBDataBase.bmp"
TUIBTransaction BITMAP "TUIBTransaction.bmp"
TUIBQuery BITMAP "TUIBQuery.bmp"
TUIBBackup BITMAP "TUIBBackup.bmp"
TUIBRestore BITMAP "TUIBRestore.bmp"
TUIBnBackup BITMAP "TUIBnBackup.bmp"
TUIBnRestore BITMAP "TUIBnRestore.bmp"
TUIBScript BITMAP "TUIBScript.bmp"
TUIBDataset BITMAP "TUIBDataSet.bmp"
TUIBSecurity BITMAP "TUIBSecurity.bmp"
TUIBEvents BITMAP "TUIBEvents.bmp"
TUIBRepair BITMAP "TUIBRepair.bmp"
TUIBValidate BITMAP "TUIBValidate.bmp"
TUIBConfig BITMAP "TUIBConfig.bmp"
TUIBServerInfo BITMAP "TUIBServerInfo.bmp"